# Core FastAPI + Uvicorn
fastapi==0.95.2
uvicorn[standard]==0.22.0

# Database
SQLAlchemy==1.4.49
psycopg2-binary==2.9.6
alembic
python-multipart==0.0.6

# Authentication & Security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.0

# NLP / AI / ML
spacy
transformers==4.30.2
torch==2.0.1

# PDF & Data Processing
PyPDF2==3.0.1
pandas==2.0.1

# Firebase + Google API
firebase-admin==6.1.0
google-api-python-client==2.70.0
google-auth==2.21.0
google-auth-httplib2==0.1.0

# Pydantic (config/validation)
pydantic==2.9.2
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.23.4
